{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <h3>ALIANZAS ENLACES</h3>
        <p>Alianzas entre Gobierno, Empresas, Instituciones, y Organizaciones Civiles es una fórmula para aumentar las posibilidades de Éxito en Programas de Educación Ambiental para la sociedad Queretana.</p>

        <p>Es por esto que uno de los objetivos de Q´PET es sumar esfuerzos existentes, dado que ya existen muchos programas, actividades, o bien proyectos y actividades que no tendrán el impacto ni éxito esperado si se trabajan por separado.</p>

        <p>Cuando se trabaja en equipo con profesionales y personas interesadas en hacer algo y marcar la diferencia,  que se logran comunicar y  complementar, los beneficios y éxitos en la Sociedad Queretana se comparten. Al final todos ganamos.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Enlaces</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class ="img-responsive" src="{% static 'img/story_of_stuff.jpg' %}">
    </div>
    <div class="col-md-8">
        <p>El origen de Todas las cosas que nos rodean, vienen  de la naturaleza,pero que pasa cuando la Explotación de nuestros Recursos Naturales se realiza de forma Inadecuada y no cubrimos ni el costo ambiental de lo que implica el producir algún artículo? Vídeos en varios Idiomas</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class ="img-responsive" src="{% static 'img/chris_jordan.jpg' %}">
    </div>
    <div class="col-md-8">
        <p>Chris Jordan nos hace reflexionar sobre los millones de objetos que se acumulan en nuestro Planeta. No te puedes perder esta  pagina web.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class ="img-responsive" src="{% static 'img/lab_in_mov.jpg' %}">
    </div>
    <div class="col-md-8">
        <p>Aventura Ecológica  desde Mexico a la Patagonia usando como combustible Aceite de Cocina.
        </p>
    </div>
</div>

{% endblock %}