{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block featured_image %}
<img src="{% static 'img/contacto_head.jpg' %}">
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <h2>CONTACTO</h2>
        <p>
            Estamos para servirte con gusto
        </p>
        <h3>
            Q PET Educación Ambiental A.C.
        </h3>
        <h3>
            Todos unidos salvemos nuestro hogar.
        </h3>
        <h3>
            educacion_ambiental@qpet.org
        </h3>
        <form method='POST' action=''>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} 
                {{ field }}
            </div>
            {% endfor %}
            <input class="btn btn-default" type="submit" value="Enviar">
        </form>
    </div>
</div>
{% endblock %}