{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block featured_image %}
<img src="{% static 'img/fondeos_head.jpg' %}">
{% endblock %}


{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <h3>FONDEOS </h3>
        <p>
            Nuestro objetivo es ser pioneros en el establecimiento de Centros de Educación Ambiental lo cual si bien demanda  recursos humanos y  monetarios creemos firmemente es una opción para estar conscientes del impacto que se generan en nuestras actividades cotidianas.
        </p>
        <p>
            Si estás interesado en hacer una donación, contáctanos y con gusto podemos compartir los diversos proyectos y programas que manejamos para que puedas decidir cual apoyar.
        </p>
        
    </div>
</div>

{% endblock %}