{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block featured_image %}
<img src="{% static 'img/inp_ambiental_head.jpg' %}">
{% endblock %}


{% block contenido %}
<div class="row">
	<div class="col-md-12">
		<h3>INSPECTORES AMBIENTALES</h3>
		<h4>¿Qué es?</h4>
		<p>
			Programa  Ambiental Permanente para ser implementando en escuelas y comunidades.
		</p>
        <h4>¿Cómo se logrará?</h4>
		<p>
			Por medio de aprendizaje significativo , el cual el niño o joven aprenderá por medio de la vivencia para poder tener ahorros de agua, energia, y una separacion de residuos adecuada en casa y  ser agente de cambio en su escuela.
		</p>
        <h5>
            Todos unidos salvemos nuestro hogar.
        </h5>
	</div>
</div>
{% endblock %}