{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block featured_image %}
<img src="{% static 'img/proyectos_head.jpg' %}">
{% endblock %}  

{% block contenido %}
<div class="row">
	<div class="col-md-offset-1 col-md-10 informacion">
        <div>
            <h3>PROYECTOS</h3>
            <p>
                 Entre nuestras líneas de acción actuales se encuentran la separación de residuos (“la base de todo”), el composteo, huerto de autoconsumo y la reforestación, y a futuro la implementación de algunas ecotecnias como los biofiltros, tanques de ferro-cemento y celdas solares tanto en comunidades indígenas como en pequeños espacios urbanos que dignifiquen su entorno y permitan cambiar el actual sistema.
            </p>
        </div>
        <div>
            <h4>Algunos proyectos realizados:</h4>
            
            <div>
                <h5>
                    El derecho a la alimentación como derecho humano básico para poder aspirar posteriormente a un Desarrollo Rural Sostenible en la comunidad
                </h5>
                <p>
                    2010 – Amealco, Queretaro- Temas: Separación de residuos, Lombricomposta,  Huertos de autoconsumo por medio del Método Biointensivo, Derechos Humanos.
                </p>
            </div>
            
            <div>
                <h5>
                    El Derecho a la Protección del Medio Ambiente: Desarrollo Rural Sostenible en Comunidades Indígenas
                </h5>
                <p>
                    2011 – Amealco, Queretaro- Temas: Separación de residuos, Composta Aerobica,  Huertos de autoconsumo por medio del Método Tuel, Hornos Solares.
                </p>
            </div>
            
            <div>
                <h5>
                    Proyecto piloto de Separacion de Residuos en Puntos de Acopio
                </h5>
                <p>
                    2011 – Santiago de Queretaro – Corregidora, Qro.- Temas: Separación de residuos
                </p>
            </div>
            
            <div>
                <h5>
                    Proyecto Espacio Limpio, Espacio Digno, Recuperación de espacios públicos en Corregidora, Qro.
                </h5>
                <p>
                    2012 –  Corregidora, Qro.- Temas: Separación de residuos, composta
                </p>
            </div>
            
            <div>
                <h5>
                    Proyectos Servicio Social Comunitario, socio formador ITESM
                </h5>
                <ul>
                    <li>
                        SSC 2012 –  Compostero Aerobico 4 lts. – 20 lts. – Analisis Compostas – Actualizacion  Sitio Web
                    </li>
                    <li>
                        SSC 2013- Compostero Aerobico 60 lts. – Modulo de Separación de Residuos para restaurante
                    </li>
                    <li>
                        SSC 2014- Compostero Aerobico 120 lts. – Biofiltro – Bote inteligente de Separación de residuos -
                    </li>
                    <li>
                        CAD 2014 – Imagen XIMHAI, proyecto de recaudación de fondos para proyectos dirigido a empresas.
                    </li>
                </ul>
            </div>
            
        </div>
	</div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{% static 'img/proyectos-1.jpg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/proyectos-2.jpg' %}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{% static 'img/proyectos-3.jpg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/proyectos-4.jpg' %}" class="img-responsive">
    </div>
</div>
{% endblock %}