{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block featured_image %}
<img src="{% static 'img/somos_head.jpeg' %}">
{% endblock %}


{% block contenido %}
<div class="row">
    <div class="col-xs-12">
        <h3>¿QUIENES SOMOS?</h3>
        <p>
            El que los Niños y Jóvenes Queretanos piensen de su entorno actual y el que les gustaría tener a futuro, sin duda alguna nos daría como sociedad la oportunidad de tener  una mejor calidad de vida.
        </p>
        <p>
            El movimiento de concientización ambiental y social “Quién puede estimar la Tierra” Q PET Educación Ambiental A.C. surge de la fusión de mentes en sincronía con el respeto por nuestra Madre Tierra y todos los que la habitamos.
        </p>
        <p>
            Nuestra asociación está basada en la pregunta primordial ¿Cuándo la basura deja de ser basura para generar mecanismos alternos que respeten al ambiente y beneficien a nuestra sociedad?
        </p>
        <p>
            Q PET Educación Ambiental A.C. lo conformamos un grupo multidisciplinario de Agentes de Cambio que desde el 2009 hemos implementado diversos programas y talleres en comunidades indígenas con la intensión de crear Centros de Educación Ambiental (CEAs) permanentes.
        </p>
    </div>
</div>
{% endblock %}