{% extends "base/base_sitio.html" %}
{% load staticfiles %}

{% block featured_image %}
<img src="{% static 'img/visitas_head.jpg' %}">
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="col-md-12">
		<h3>VISITAS A COMUNIDADES</h3>
	</div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{% static 'img/visitas-1.jpg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/visitas-2.jpg' %}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{% static 'img/visitas-3.jpg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/visitas-4.jpg' %}" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="{% static 'img/visitas-5.jpg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/visitas-6.jpg' %}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="{% static 'img/visitas-7.jpg' %}" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="{% static 'img/visitas-8.jpg' %}" class="img-responsive">
    </div>
</div>
{% endblock %}