{% load staticfiles %}
<html>
	<head>

		<!-- - - - - - - - -  CSS - - - - - - - - - -->

        {% include "util/css.html" %}
	    
        {% block css %}
        {% endblock %}
        
        <!-- - - - - - - - -  HEAD JS - - - - - - - - - -->
        
        {% include "util/head-js.html" %}
        
        {% block head-js %}
        {% endblock %}
        
	</head>

	<body>

		<!-- - - - - - - - -  MENU - - - - - - - - - -->

		{% include "util/menu.html" %}

	   	<!-- - - - - - - - -  FIN DEL MENU - - - - - - - - - -->

	   	<!-- - - - - - - - -  INFORMACION AMBIENTAL - - - - - - - - - -->
	   	<div class="container">
	   		<div class="row">
		   		<div class="col-md-offset-1 col-md-3">
		   			<img class="" src="{% static 'img/logo_qpet.png' %}">
		   		</div>
		   		<div class="col-md-offset-1 col-md-6">
		   			<h3>Lo que hemos ahorrado</h3>
		   			<div class="row">
		   				<div class=" col-xs-4">
		   					<img src="{% static 'img/arbol.png' %}">
		   					<span>100 000 litros</span>
		   				</div>
		   				<div class=" col-xs-4">
		   					<img src="{% static 'img/watts.png' %}">
		   					<span>100 000 litros</span>
		   				</div>
		   				<div class=" col-xs-4">
		   					<img src="{% static 'img/gota.png' %}">
		   					<span>100 000 litros</span>
		   				</div>
		   			</div>
		   		</div>
		   	</div>
		   	<div id="contenido">
                <div class="row">
	               <div class="col-md-offset-1 col-md-10 featured_image">
                        {% block featured_image %}
		   		         {% endblock %}        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="row informacion">
                            <div class="col-md-9">
                                {% block contenido %}
                                 {% endblock %}
                            </div>
                            <div class="col-md-3">
                                {% include "util/social.html" %}
                            </div>
                        </div>
                    </div>
                </div>
		   	</div>
	   	</div>



	</body>

	<!-- - - - - - - - -  JS - - - - - - - - - -->

    {% include "util/js.html" %}
    
    {% block js %}
    {% endblock %}
    
</html>