
<a class="twitter-timeline" height="400px" href="//twitter.com/search?q=%40twitterdev" data-widget-id="486744238403489792">
             Tweets about "</a><br><br>

<div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>